<h1 class="text-[200px]/[0.9] text-transparent [-webkit-text-stroke:2px_white] font-bold opacity-[0.4] m-0
  absolute top-85 right-5 w-full h-full -z-1 flex flex-col justify-center pointer-events-none">
  {{ page.id }} {{ page.title | translate }}
</h1>

<div class="absolute bg-gradient-to-r from-zinc-300 to-transparent -top-20 -left-30 -z-1 w-[1400px] h-30 object-cover opacity-[0.4] blur-lg"></div>
<div class="absolute bg-gradient-to-r from-zinc-400 to-transparent top-10 -left-30 -z-1 w-[1200px] h-30 object-cover opacity-[0.4] blur-lg"></div>
<div class="absolute bg-gradient-to-r from-zinc-500 to-transparent top-40 -left-30 -z-1 w-[1000px] h-30 object-cover opacity-[0.4] blur-lg"></div>
<div class="absolute bg-gradient-to-r from-zinc-600 to-transparent top-70 -left-30 -z-1 w-[800px] h-30 object-cover opacity-[0.4] blur-lg"></div>
<div class="absolute bg-gradient-to-r from-zinc-700 to-transparent top-100 -left-30 -z-1 w-[600px] h-30 object-cover opacity-[0.4] blur-lg"></div>
<div class="absolute bg-gradient-to-r from-zinc-800 to-transparent top-130 -left-30 -z-1 w-[400px] h-30 object-cover opacity-[0.4] blur-lg"></div>
<div class="absolute bg-gradient-to-r from-zinc-900 to-transparent top-160 -left-30 -z-1 w-[200px] h-30 object-cover opacity-[0.4] blur-lg"></div>

<div class="absolute bg-gradient-to-r from-transparent to-zinc-300 -bottom-10 -right-30 -z-1 w-[1400px] h-30 object-cover opacity-[0.4] blur-lg"></div>
<div class="absolute bg-gradient-to-r from-transparent to-zinc-400 bottom-20 -right-30 -z-1 w-[1200px] h-30 object-cover opacity-[0.4] blur-lg"></div>
<div class="absolute bg-gradient-to-r from-transparent to-zinc-500 bottom-50 -right-30 -z-1 w-[1000px] h-30 object-cover opacity-[0.4] blur-lg"></div>
<div class="absolute bg-gradient-to-r from-transparent to-zinc-600 bottom-80 -right-30 -z-1 w-[800px] h-30 object-cover opacity-[0.4] blur-lg"></div>
<div class="absolute bg-gradient-to-r from-transparent to-zinc-700 bottom-110 -right-30 -z-1 w-[600px] h-30 object-cover opacity-[0.4] blur-lg"></div>
<div class="absolute bg-gradient-to-r from-transparent to-zinc-800 bottom-140 -right-30 -z-1 w-[400px] h-30 object-cover opacity-[0.4] blur-lg"></div>
<div class="absolute bg-gradient-to-r from-transparent to-zinc-900 bottom-170 -right-30 -z-1 w-[200px] h-30 object-cover opacity-[0.4] blur-lg"></div>

<div class="flex w-full h-full gap-12">
  <div class="flex flex-col w-1/2">
    <div class="flex w-full items-center relative">
      <img src="assets/images/portrait.png" alt="Portrait" class="w-75 h-75 -z-1 object-cover">
      <h1 class="text-white text-[130px]/[1] w-1/2 text-right font-semibold tracking-wide">
        WILLIAM RIBEIRO
      </h1>
    </div>

    <p class="text-gray-400 text-4xl mt-8 text-justify">
      {{ 'ABOUT.DESCRIPTION' | translate }}
    </p>

    <div class="flex w-full items-end gap-12">
      <div class="w-1/2 h-5 bg-transparent border-1 border-white opacity-[0.4]"></div>

      <a
        href="assets/documents/cv.pdf"
        download="CV_William_Ribeiro.pdf"
        target="_blank"
        class="inline-block text-center text-4xl text-white bg-transparent border-1 border-white opacity-[0.4] hover:bg-white hover:text-black transition-colors duration-300 px-8 py-4 font-bold cursor-pointer">
        {{ 'ABOUT.DOWNLOAD_CV' | translate }}
      </a>
    </div>
  </div>

  <div class="flex w-1/2 flex-col gap-12 overflow-y-auto px-20">
    <div>
      <h1 class="text-white text-[70px]/[1] font-semibold tracking-wide mb-8">
        {{ 'ABOUT.PREFERENCES' | translate }}
      </h1>
      <div class="flex w-full gap-20">
        <img src="assets/images/typescript.png" alt="TypeScript" class="w-24 h-24 object-cover">
        <img src="assets/images/angular.png" alt="Angular" class="w-24 h-24 object-cover">
        <img src="assets/images/scss.png" alt="SCSS" class="w-24 h-24 object-contain">
        <img src="assets/images/java.png" alt="Java" class="w-24 h-24 object-contain">
      </div>
    </div>
    <div>
      <div>
        <h1 class="text-white text-[70px]/[1] font-semibold tracking-wide mb-8">
          {{ 'ABOUT.HOBBIES_TITLE' | translate }}
        </h1>

        <p class="text-gray-400 text-lg mt-8 max-w-2xl leading-relaxed text-justify" [innerHTML]="'ABOUT.HOBBIES_TEXT' | translate">
        </p>
      </div>

      <div class="flex mt-8 -space-x-12 w-full">
        <img src="assets/images/piano.jpg" alt="Piano"
          class="w-64 h-48 object-cover shadow-[0_0_20px_rgb(0,0,0)] relative transition-transform duration-300 hover:-translate-y-4 hover:z-10 hover:rotate-2">
        <img src="assets/images/genshin.jpg" alt="Genshin Impact"
          class="w-64 h-48 object-cover shadow-[0_0_20px_rgb(0,0,0)] relative transition-transform duration-300 hover:-translate-y-4 hover:z-10 hover:rotate-2">
        <img src="assets/images/minecraft.jpg" alt="Minecraft"
          class="w-64 h-48 object-cover shadow-[0_0_20px_rgb(0,0,0)] relative transition-transform duration-300 hover:-translate-y-4 hover:z-10 hover:rotate-2">
      </div>
    </div>
  </div>
</div>
