@use "tailwindcss";
@import "primeicons/primeicons.css";
@import '@angular/cdk/overlay-prebuilt.css';

*, html, body {
  font-family: 'Oswald', sans-serif;
}

:root {
  --p-select-option-focus-background: #27272a !important;
  --p-select-option-focus-color: #9ca3af !important;

  --p-select-option-selected-background: #18181b !important;
  --p-select-option-selected-color: #9ca3af !important;

  --p-select-option-selected-focus-background: #27272a !important;
  --p-select-option-selected-focus-color: #9ca3af !important;

  --p-select-option-background: #18181b !important;
  --p-select-option-color: #9ca3af !important;
}
